body{
    background-color: #efefef;
}

.main{
    background-color:white;
    margin: 30px;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}

.avatar{
    width: 42px;
    height: 42px;
}

.title_text{
    font-size: 12px;
    font-weight:normal;
    color:#999999;
}

.profile .section{
    margin-top:15px;
}

.community-menu{
    color:#999;
    font-size: 13px;
}

.media-body{
    padding-top: 10px;
}

.comment{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mybtn{
    float: right;
    margin-bottom: 10px;
}

.commentCount{
    margin-top: 0px;
}

.commentIcon{
    cursor:pointer;
}
.commentIcon:hover{
    color: #499ef3;
}

.comments{
    padding-bottom:5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.incomments{
    padding-top:15px;
    border-radius:5px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    border: 1px solid #eee;
}

.sub-btn{
    margin:10px 0;
}

.sub-comment{
    margin-top:10px;
}